<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vvv?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">java</property>
    <property name="hibernate.connection.password">java</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping resource="model/Funcionario.hbm.xml"/>
    <mapping resource="model/Escala.hbm.xml"/>
    <mapping resource="model/Modal.hbm.xml"/>
    <mapping resource="model/Cidade.hbm.xml"/>
    <mapping resource="model/Pontodevenda.hbm.xml"/>
    <mapping resource="model/Aeroporto.hbm.xml"/>
    <mapping resource="model/Reserva.hbm.xml"/>
    <mapping resource="model/Cliente.hbm.xml"/>
    <mapping resource="model/Transportadora.hbm.xml"/>
    <mapping resource="model/Viagem.hbm.xml"/>
    <mapping resource="model/PontodevendaFuncionario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
